@charset "utf-8"

html {}

body {
    margin: 0;
}

/* header */
header {
    background: #186AC9;
}

#head {
    display: flex;
}

.accordion-container {
    margin: 0 0 0 auto;
    color: #fff;
}

.accordion-content {
    display: none;
}

/* 矢印 */
.arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #fff;
    /* 矢印の色 */
    margin: 20px;
    /* 適宜調整 */
}

.open .arrow {
    position: relative;
    top: 40px;
    /* 適宜調整 */
    border-bottom: none;
    border-top: 20px solid #fff;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    width: 100%;
    /* コンテナの最大幅を指定 */
    flex: 0 0 80%;
}

/* side-bar */
#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    font-size: 15px;
}

#confirm {
    margin: 4% 3%;
    margin-bottom: 10%;
}

.side_name {
    margin-bottom: 20px;
}

.side_follow {
    display: flex;
    margin-bottom: 20px;
}

.side_follower {
    display: flex;
    margin-bottom: 20px;
}

.count {
    width: 40%;
    padding: 0 10px;
}

.howmany {
    margin-left: 15px;
}

.btn {
    text-align: right;
    margin-bottom: 30px;
}

.btn a {
    color: white;
    background-color: #186AC9;
    font-size: 13px;
    padding: 5px 10px;
    /* 上下左右の余白を均等に指定 */
    display: inline-block;
    /* ボタンをブロック要素として表示 */
    min-width: 100px;
    /* ボタンの最小横幅を指定 */
    text-align: center;
    /* ボタン内のテキストを中央揃えにする */
    border: none;
    border-radius: 5px;
    /* 角丸 */
}

.side_search {
    border-top: 1px solid #C0C0C0;
}

.side_search_btn {
    text-align: center;
    margin-top: 20%;
}

.side_search_btn a {
    color: white;
    background-color: #186AC9;
    font-size: small;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    /* 角丸 */
}


/* ------------------TOPページ---------------- */
/* 投稿フォーム */
.post_form {
    padding: 2% 5%;
    border-bottom: 3px solid #C0C0C0;
}

.do_tweets {
    display: flex;
    align-items: center;
}

.post_form form {
    height: auto;
}

.form_control {
    margin-left: 10px;
    width: 70%;
    height: 50px;
    border: none;
    resize: none;
}

.post_form .btn-success {
    padding: 0 0 0 750px;
}

.btn-success {
    border: none;
    background: transparent;
}

.btn-success img {
    border-radius: 5px;
}

/* ポスト一覧の表示 */
.user_tweets {
    padding: 2% 8%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C0C0C0;
}

.post_title {
    display: flex;
}

.user_post_time {
    margin-left: auto;
    margin-right: 4%;
}

.post_block {
    padding-left: 2%;
    flex-grow: 1;
    /* 残りのスペースを占有し、横幅を伸ばす */
}

.user_post_content {
    padding-top: 2%;
}

/* 投稿の編集・削除ボタン等 */
.post_button {
    display: flex;
    justify-content: flex-end;
}

.button {
    margin-right: 10px;
}

.btn-danger img {
    border-radius: 5px;
}

.btn-danger:hover img {
    content: url('/images/trash-h.png');
}

/* モーダル */
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 15px;
    text-align: center;
}

.modal_post {
    height: 150px;
    width: 600px;
    resize: none;
}

.post_update_btn {
    background: url('/images/edit.png') no-repeat;
    background-size: contain;
    /* 画像をボタンに合わせて拡大縮小する */
    width: 50px;
    height: 50px;
    border: none;
    display: inline-block;
    margin-top: 3%;
}


/* --------------search------------- */
/* 検索フォーム */
.search_form {
    padding: 4% 8%;
    border-bottom: 3px solid #C0C0C0;
}

.search_name {
    display: flex;
    height: auto;
}

.form {
    height: 30px;
    width: 35%;
}

/* ユーザー一覧 */
.search_top {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.search_user_icon {
    margin-left: 20%;
    margin-right: 3%;
}

/* フォロー&アンフォローボタン */
.follow_btn {
    margin-left: auto;
    margin-right: 30%;
}

.btn-follow {
    background-color: #79A6F2;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    /* 角丸 */
    cursor: pointer;
}

.btn-unfollow {
    background-color: red;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    /* 角丸 */
    cursor: pointer;
}

/* -----------フォローフォロワーリスト------------ */
/* 投稿一覧はTOPと同じ */
.user_container {
    padding: 2% 6%;
    display: flex;
    border-bottom: 3px solid #C0C0C0;
}

.listTitle {
    margin-top: 2%;
}

.user_icon {
    padding: 0 40px;
}

/* ------------profile------------- */
.profile_container {
    padding: 5% 8%;
}

.profile_update {
    display: flex;
}

.profile_block {
    display: flex;
    margin: 4% 2%;
    align-items: center;
}

.profile_blocks {
    flex-grow: 1;
}

.user_profiles {
    margin-left: auto;
    margin-right: 20%;
    width: 40%;
}

input.user_profiles {
    height: 20px;
}

.icon_change {
    border: 1px solid #000;
    margin-left: auto;
    margin-right: 20%;
    width: 40%;
    height: 100px;
}

.user_profiles_icon {
    display: inline-block;
    position: relative;
}

.user_profiles_icon label {
    padding: 15px;
    background-color: #186AC9;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.button2 {
    margin-left: 35%;
    background-color: red;
    color: white;
    padding: 6px 40px;
    /* パディングの値は適宜変更してください */
    border: none;
    border-radius: 5px;
    /* 角丸にする場合は適宜変更してください */
    cursor: pointer;
}

/* ------------otherProfile------------ */
.otherProfile_container {
    display: flex;
    padding: 3% 8%;
    border-bottom: 3px solid #C0C0C0;
}

.other_profile {
    width: 20%;
}

.other_name {
    display: flex;
    margin-bottom: 5%;
}

.other_bio {
    display: flex;
}

.otherProfile {
    flex-grow: 1;
    margin-left: 1%;
}

.other_profileName {
    margin-left: 10%;
}

.follow_btn2 {
    padding-top: 5%;
}
