@charset "utf-8"

html {}

body {
    margin: 0;
}

/* header */
header {
    background: #186AC9;
}

#head {
    display: flex;
}

.accordion-container {
    margin: 0 0 0 auto;
    color: #fff;
}

.accordion-content {
    display: none;
}

/* 矢印 */
.arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #fff;
    /* 矢印の色 */
    margin: 20px;
    /* 適宜調整 */
}

.open .arrow {
    position: relative;
    top: 40px;
    /* 適宜調整 */
    border-bottom: none;
    border-top: 20px solid #fff;
}

.btn-success {
    border: none;
    background: transparent;
}

.btn-success img {
    border-radius: 5px;
}

/* 投稿フォーム */
.post_form form {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 3px solid #C0C0C0;
}

.post_form .form-control {
    width: 700px;
    height: 50px;
    border: none;
    /* 任意の高さを指定 */
}

.post_form textarea {
    white-space: pre-line;
}

.post_item.post_item {
    margin-left: 10px;
    /* post_itemの左側に余白を追加 */
}

.post_form .btn-success {
    margin-left: auto;
    /* 右寄せ */
}

/* ポスト一覧の表示 */
.post {
    border-bottom: 1.5px solid #C0C0C0;
}

.post_user {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.post_user img {
    display: inline-block;
    vertical-align: middle;
    /* アイコンを垂直方向に中央寄せ */
    margin-right: 5px;
    /* アイコンとユーザー名の間に余白を追加 */
}

.name {
    display: inline-block;
    margin-right: 600px;
    /* ユーザー名と時間の間に余白を追加 */
}

.post_content {
    padding-left: 55px;
}

/* 投稿の編集・削除ボタン等 */
.post_button {
    display: flex;
    padding: 20px 0 0 750px;
}

.button {
    margin-right: 10px;
}

.btn-danger img {
    border-radius: 5px;
}

/* モーダル */
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    max-width: 1300px;
    /* コンテナの最大幅を指定 */
    margin: 0 auto;
    /* コンテナを中央寄せにする */
    padding: 0 30px;
    /* 画面左右に余白を追加 */
    flex: 0 0 70%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* search画面 */
.search_form {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 3px solid #C0C0C0;
}

.search_top {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user_icon {
    margin-left: 100px;
    margin-right: 15px;
}

.user_name {
    margin-right: 15px;
    /* ユーザー名とボタンの間隔 */
}

.btn-follow,
.btn-unfollow {
    margin-left: auto;
    /* ボタンとユーザー名の間隔 */
}


/* フォロー画面 */
.container {
    border-bottom: 3px solid #C0C0C0;
}

.follow_tweets {
    border-bottom: 1px solid #C0C0C0;
}
